In [684]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [685]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1113,tt0298814,60000000,74208267,The Core,Aaron Eckhart|Hilary Swank|Delroy Lindo|Stanle...,Jon Amiel,Earth has a deadline.,Geophysicist Dr. Josh Keyes discovers that an ...,136,Action|Thriller|Adventure|Science Fiction,Paramount Pictures|David Foster Productions|Ho...,3/28/2003,5.3,2003
907,tt0160184,55000000,6416302,D-Tox,Sylvester Stallone|Courtney B. Vance|Tom Beren...,Jim Gillespie,Survival is a Killer.,A disgraced FBI agent with a drinking problem ...,96,Action|Thriller,Universal Pictures,1/4/2002,5.8,2002
1709,tt0453451,25000000,229736344,Mr. Bean's Holiday,Rowan Atkinson|Max Baldry|Emma de Caunes|Wille...,Steve Bendelack,Disaster has a passport.,Mr. Bean wins a trip to Cannes where he unwitt...,90,Family|Comedy,Tiger Aspect Productions|Working Title Films,3/22/2007,6.1,2007
1445,tt0477347,110000000,574480841,Night at the Museum,Ben Stiller|Jake Cherry|Carla Gugino|Robin Wil...,Shawn Levy,Where History Comes To Life,Chaos reigns at the natural history museum whe...,108,Action|Adventure|Comedy|Family|Fantasy,Ingenious Film Partners|Twentieth Century Fox ...,10/20/2006,6.2,2006
1373,tt0427944,6500000,24793509,Thank You for Smoking,Aaron Eckhart|Maria Bello|Cameron Bright|Adam ...,Jason Reitman,Tobacco lobbyist Nick Naylor is trying to SAVE...,The chief spokesperson and lobbyist Nick Naylo...,92,Comedy|Drama,Fox Searchlight Pictures|Room 9 Entertainment,9/5/2005,7.1,2005

In [686]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [687]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

#создаем дополнительный стоблец profit с расчетом прибыль
data['profit'] = data['revenue']-data['budget'] #создаем дополнительный стоблец profit с расчетом прибыль

#создаем функцию для поиска уникальных значений в стоблах
def column_elements(column,delimeter):
    elements_list =[]
    for element in column:
        elements = element.split(delimeter)
        for unit in elements:
            if unit in elements_list:
                continue
            else:
                elements_list.append(unit)
    return elements_list

In [688]:
#добавляем столбец с месяцами релизов. Очень грубо, но времени уже не хватало

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [689]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300) +'
# запишите свой вариант ответа
answers['1'] = '3. Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"
answers

{'1': '3. Pirates of the Caribbean: On Stranger Tides (tt1298650)'}

In [690]:
# тут пишем ваш код для решения данного вопроса:
data[data.budget == data.budget.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011,641683000

ВАРИАНТ 2

In [691]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [692]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '2. Gods and Generals (tt0279111) +'

In [693]:
data[data.runtime == data.runtime.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003,-43076064

# 3. Какой из фильмов самый короткий (в минутах)?

In [694]:
answers['3'] = '3. Winnie the Pooh (tt1449283) +'

In [695]:
data[data.runtime == data.runtime.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011,-15540000

# 4. Какова средняя длительность фильмов?

In [696]:
answers['4'] = '2. 110 +'

In [697]:
data.runtime.mean()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [698]:
answers['5'] = '1. 107 +'

In [699]:
data.runtime.median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [700]:
answers['6'] = '5. Avatar (tt0499549)'

In [701]:
# лучше код получения столбца profit вынести в Предобработку что в начале
data[data.profit == data.profit.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847

# 7. Какой фильм самый убыточный?

In [702]:
answers['7'] = '5. The Lone Ranger (tt1210819)'
answers

{'1': '3. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111) +',
 '3': '3. Winnie the Pooh (tt1449283) +',
 '4': '2. 110 +',
 '5': '1. 107 +',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)'}

In [703]:
data[data.profit == data.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [704]:
answers['8'] = '1. 1478'

In [705]:
len(data[data.profit > 0])

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [706]:
answers['9'] = '4. The Dark Knight (tt0468569)'

In [707]:
data_2008 = data[data.release_year == 2008]
data_2008[data_2008.profit == data_2008.profit.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [708]:
answers['10'] = '10. The Lone Ranger (tt1210819)'

In [709]:
data_2012_2014 = data[(data.release_year>=2012) & (data.release_year<=2014)]
data_2012_2014[data_2012_2014.profit == data_2012_2014.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 11. Какого жанра фильмов больше всего?

In [710]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

In [711]:
answers['11'] = '3. Drama'

ВАРИАНТ 1

In [712]:
genres_count={}

'''Первым делом нужно получить полный список жанров. 
используем функцию column_elements, 
определенную в предобработке'''

genres_list = column_elements(data['genres'],'|')
            
'''Теперь, когда полный перечень жанров известен, 
подсчитываем количество вхождений каждого из них 
в столбец genres'''

for genre in genres_list:
    counter = 0
    for item in data['genres']:
        if genre in str(item):
            counter += 1
    genres_count[i]={genre:counter}
    i += 1

genres_count

{57: {'Action': 582},
 58: {'Adventure': 415},
 59: {'Science Fiction': 248},
 60: {'Thriller': 596},
 61: {'Fantasy': 222},
 62: {'Crime': 315},
 63: {'Western': 19},
 64: {'Drama': 782},
 65: {'Family': 260},
 66: {'Animation': 139},
 67: {'Comedy': 683},
 68: {'Mystery': 168},
 69: {'Romance': 308},
 70: {'War': 58},
 71: {'History': 62},
 72: {'Music': 64},
 73: {'Horror': 176},
 74: {'Documentary': 8},
 75: {'Foreign': 2}}

ВАРИАНТ 2

In [713]:
genres_count={}

genres_list = column_elements(data['genres'],'|')
            
'''То же самое, но с использованием str.contains. Вышло короче.'''

for genre in genres_list:
    counter = data[data.genres.str.contains(genre, na=False)]
    print(genre,counter.count().max())

Action 582
Adventure 415
Science Fiction 248
Thriller 596
Fantasy 222
Crime 315
Western 19
Drama 782
Family 260
Animation 139
Comedy 683
Mystery 168
Romance 308
War 58
History 62
Music 64
Horror 176
Documentary 8
Foreign 2

ВАРИАНТ 3

In [714]:
#Пришел к такому варианту после чтения документации

genres_list_modified = pd.Series(data['genres'].str.cat(sep='|').split('|'))
genres_list_modified.value_counts()

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
dtype: int64

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [715]:
answers['12'] = '3. Drama'

In [716]:
#for genre in genres_list:
    #new_dataset = data[(data.genres.str.contains(genre, na=False)) & (data[data.profit > 0])]
    #print(new_dataset)
    
#data_by_profit = data[data.profit > 0]

#for genre in genres_list:
#    counter = data_by_profit[data_by_profit.genres.str.contains(genre, na=False)]
#    print(genre,counter.count().max())

profit_movies = data[data.profit > 0]
profit_genres = pd.Series(profit_movies['genres'].str.cat(sep='|').split('|'))
profit_genres.value_counts()

Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [717]:
answers['13'] = '5. Peter Jackson'

In [718]:
data_by_director = data.groupby(['director']).sum()
data_by_director[data_by_director['revenue'] == data_by_director['revenue'].max()]

,budget,revenue,runtime,vote_average,release_year,profit
director,,,,,,
Peter Jackson,1288000000,6490593685,1355,58.1,16059,5202593685

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [719]:
answers['14'] = '5. Robert Rodriguez'

In [720]:
#1.Выделить фильмы, в которых есть жанр Action
#2.Разделить режиссеров там, где их больше одного, и сопоставить с фильмом
#3.Посчитать количество снятых фильмов

action_movies = data[data.genres.str.contains('Action', na=False)]
action_directors = pd.Series(action_movies['director'].str.cat(sep='|').split('|'))
action_directors.value_counts()

Robert Rodriguez      9
Michael Bay           7
Paul W.S. Anderson    7
Antoine Fuqua         6
Ridley Scott          6
                     ..
Feng Xiaogang         1
JosÃ© Padilha         1
Robert Luketic        1
Miguel Sapochnik      1
Joel Coen             1
Length: 364, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [721]:
answers['15'] = '3. Chris Hemsworth'

In [722]:
data_2012 = data[data.release_year==2012]
data_2012_casts = data_2012['cast'].str.cat(sep='|').split('|')
casts_revenues = pd.DataFrame()

for cast in data_2012_casts:
    cast_summary_revenue = data_2012[data_2012.cast.str.contains(cast, na=False)]['revenue'].sum()
    casts_revenues = casts_revenues.append({'cast':cast,'summary_revenue':cast_summary_revenue},ignore_index=True)
casts_revenues.drop_duplicates(subset=['cast'],inplace = True)
display(casts_revenues[casts_revenues.summary_revenue == casts_revenues.summary_revenue.max()])

              cast  summary_revenue
3  Chris Hemsworth     2.027451e+09

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [723]:
answers['16'] = '3. Matt Damon'

In [724]:
high_budget_movies = data[data.budget > data.budget.mean()]
high_budget_casts = pd.Series(high_budget_movies['cast'].str.cat(sep='|').split('|'))
high_budget_casts.value_counts()

Matt Damon               18
Adam Sandler             17
Angelina Jolie           16
Tom Cruise               15
Eddie Murphy             15
                         ..
Christopher Eccleston     1
Jared Harris              1
Haley Joel Osment         1
Burt Reynolds             1
Shawn Roberts             1
Length: 1505, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [725]:
answers['17'] = '2. Action'

In [726]:
NC_movies = data[data.cast.str.contains('Nicolas Cage', na=False)]
NC_genres = pd.Series(NC_movies['genres'].str.cat(sep='|').split('|'))
NC_genres.value_counts()

Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Family              3
Mystery             3
Animation           3
History             2
War                 1
Romance             1
Horror              1
dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [727]:
answers['18'] = '1. K-19: The Widowmaker (tt0267626)'

In [728]:
no_profit_movies = data[(data.profit < 0) & (data.production_companies.str.contains('Paramount Pictures', na=False))]
no_profit_movies[no_profit_movies.profit == no_profit_movies.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,7/19/2002,6.0,2002,-64831034

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [729]:
answers['19'] = '5. 2015'

In [730]:
data_by_year = data.groupby(['release_year']).sum()
data_by_year[data_by_year.revenue == data_by_year.revenue.max()]

                  budget      revenue  runtime  vote_average       profit
release_year
2015          6780630004  25449202382    13355         755.2  18668572378

# 20. Какой самый прибыльный год для студии Warner Bros?

In [731]:
answers['20'] = '1. 2014'

In [732]:
warner_data = data[data.production_companies.str.contains('Warner Bros', na=False)]
data_by_year = warner_data.groupby(['release_year']).sum()
data_by_year[data_by_year.profit == data_by_year.profit.max()]

                 budget     revenue  runtime  vote_average      profit
release_year
2014          947600000  3243064519     1576          88.9  2295464519

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [733]:
answers['21'] = '4. Сентябрь'

In [734]:
data['release_date'] = pd.to_datetime(data['release_date'])
data.release_date.dt.month.value_counts()

9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: release_date, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [735]:
answers['22'] = '2. 450'

In [736]:
summer_data = data[(data.release_date.dt.month == 6) | (data.release_date.dt.month == 7) | (data.release_date.dt.month == 8)]
len(summer_data)

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [737]:
answers['23'] = '5. Peter Jackson'

In [738]:
winter_data = data[(data.release_date.dt.month == 12) | (data.release_date.dt.month == 1) | (data.release_date.dt.month == 2)]
winter_directors = pd.Series(winter_data['director'].str.cat(sep='|').split('|'))
winter_directors.value_counts()

Peter Jackson        7
Clint Eastwood       6
Steven Soderbergh    6
Shawn Levy           4
Nancy Meyers         4
                    ..
Ric Roman Waugh      1
Dominic Sena         1
Jeremy Garelick      1
Mark Pellington      1
Peyton Reed          1
Length: 358, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [739]:
answers['24'] = '5. Four By Two Productions'

In [740]:
data['title_length'] = data.original_title.map(lambda x: len(x))
companies = data['production_companies'].str.cat(sep='|').split('|')
length_by_companies = pd.DataFrame()

for company in companies:
    median_length = data[data.production_companies.str.contains(company, na=False)]['title_length'].mean()
    length_by_companies = length_by_companies.append({'production_company':company,'median_length':median_length},ignore_index=True)
    
length_by_companies[length_by_companies.median_length == length_by_companies.median_length.max()]

E:\anaconda3\lib\site-packages\pandas\core\strings.py:1952: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)

      median_length       production_company
4687           83.0  Four By Two Productions

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [741]:
#C этим заданием справиться не смог. Выдает Four By Two Productions, но ответ должен быть другой, он мне известен.

data['title_words'] = data.original_title.map(lambda x: len(x.split(' ')))
words_by_companies = pd.DataFrame()

for company in companies:
    mean_words = data[data.production_companies.str.contains(company, na=False)]['title_words'].mean()
    words_by_companies = words_by_companies.append({'production_company':company,'mean_words':mean_words},ignore_index=True)
    
words_by_companies[words_by_companies.mean_words == words_by_companies.mean_words.max()]

E:\anaconda3\lib\site-packages\pandas\core\strings.py:1952: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)

      mean_words       production_company
4687        12.0  Four By Two Productions

In [742]:
#words_by_companies.sort_values(['production_company', 'mean_words']).min()
words_by_companies[words_by_companies.mean_words == words_by_companies.mean_words.max()]

      mean_words       production_company
4687        12.0  Four By Two Productions

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [743]:
answers['26'] = '1. Inside Out, The Dark Knight, 12 Years a Slave'

In [744]:
data[data.vote_average > data.vote_average.quantile(0.99)]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,title_length,title_words
9,tt2096673,175000000,853708609,Inside Out,Amy Poehler|Phyllis Smith|Richard Kind|Bill Ha...,Pete Docter,Meet the little voices inside your head.,"Growing up can be a bumpy road, and it's no ex...",94,Comedy|Animation|Family,Walt Disney Pictures|Pixar Animation Studios|W...,2015-06-09,8.0,2015,678708609,10,2
34,tt3170832,6000000,35401758,Room,Brie Larson|Jacob Tremblay|Joan Allen|Sean Bri...,Lenny Abrahamson,Love knows no boundaries,Jack is a young boy of 5 years old who has liv...,117,Drama|Thriller,Element Pictures|No Trace Camping|A24|Duperele...,2015-10-16,8.0,2015,29401758,4,1
118,tt0816692,165000000,621752480,Interstellar,Matthew McConaughey|Jessica Chastain|Anne Hath...,Christopher Nolan,Mankind was born on Earth. It was never meant ...,Interstellar chronicles the adventures of a gr...,169,Adventure|Drama|Science Fiction,Paramount Pictures|Legendary Pictures|Warner B...,2014-11-05,8.0,2014,456752480,12,1
119,tt2015381,170000000,773312399,Guardians of the Galaxy,Chris Pratt|Zoe Saldana|Dave Bautista|Vin Dies...,James Gunn,All heroes start somewhere.,"Light years from Earth, 26 years after being a...",121,Action|Science Fiction|Adventure,Marvel Studios|Moving Picture Company (MPC)|Bu...,2014-07-30,7.9,2014,603312399,23,4
125,tt2084970,14000000,233555708,The Imitation Game,Benedict Cumberbatch|Keira Knightley|Matthew G...,Morten Tyldum,The true enigma was the man who cracked the code.,Based on the real life story of legendary cryp...,113,History|Drama|Thriller|War,Black Bear Pictures|Bristol Automotive,2014-11-14,8.0,2014,219555708,18,3
128,tt2267998,61000000,369330363,Gone Girl,Ben Affleck|Rosamund Pike|Carrie Coon|Neil Pat...,David Fincher,You don't know what you've got 'til it's...,With his wife's disappearance having become th...,145,Mystery|Thriller|Drama,Twentieth Century Fox Film Corporation|Regency...,2014-10-01,7.9,2014,308330363,9,2
138,tt2278388,30000000,174600318,The Grand Budapest Hotel,Ralph Fiennes|Tony Revolori|F. Murray Abraham|...,Wes Anderson,A perfect holiday without leaving home.,The Grand Budapest Hotel tells of a legendary ...,99,Comedy|Drama,Fox Searchlight Pictures|Scott Rudin Productio...,2014-02-26,7.9,2014,144600318,24,4
370,tt1375666,160000000,825500000,Inception,Leonardo DiCaprio|Joseph Gordon-Levitt|Ellen P...,Christopher Nolan,Your mind is the scene of the crime.,"Cobb, a skilled thief who commits corporate es...",148,Action|Thriller|Science Fiction|Mystery|Adventure,Legendary Pictures|Warner Bros.|Syncopy,2010-07-14,7.9,2010,665500000,9,1
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,2008-07-16,8.1,2008,816921825,15,3
872,tt0253474,35000000,120072577,The Pianist,Adrien Brody|Thomas Kretschmann|Frank Finlay|M...,Roman Polanski,Music was his passion. Survival was his master...,The Pianist is a film adapted from the biograp...,150,Drama|War,Bac Films|Canal+Polska|Heritage Films|Studio B...,2002-09-24,7.9,2002,85072577,11,2
1081,tt0167260,94000000,1118888979,The Lord of the Rings: The Return of the King,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,Peter Jackson,The eye of the enemy is moving.,Aragorn is revealed as the heir to the ancient...,201,Adventure|Fantasy|Action,WingNut Films|New Line Cinema,2003-12-01,7.9,2003,1024888979,45,10
1183,tt0993846,100000000,392000694,The Wolf of Wall Street,Leonardo DiCaprio|Jonah Hill|Margot Robbie|Kyl...,Martin Scorsese,EARN. SPEND. PARTY.,A New York stockbroker refuses to cooperate in...,180,Crime|Drama|Comedy,Paramount Pictures|Appian Way|EMJAG Production...,2013-12-25,7.9,2013,292000694,23,5
1191,tt2024544,20000000,187000000,12 Years a Slave,Chiwetel Ejiofor|Michael Fassbender|Lupita Nyo...,Steve McQueen,The extraordinary true story of Solomon Northup,"In the pre-Civil War United States, Solomon No...",134,Drama|History,Plan B Entertainment|Regency Enterprises|River...,2013-10-18,7.9,2013,167000000,16,4
1800,tt0209144,9000000,39723096,Memento,Guy Pearce|Carrie-Anne Moss|Joe Pantoliano|Mar...,Christopher Nolan,Some memories are best forgotten.,Suffering short-term memory loss after a head ...,113,Mystery|Thriller,Summit Entertainment|Newmarket Capital Group|T...,2000-10-11,7.9,2000,30723096,7,1

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [745]:
answers['27'] = '5. Daniel Radcliffe & Rupert Grint'

In [746]:
import itertools as it
pares = pd.DataFrame()

casts = Counter()
for person in data.cast.str.split('|'):
    casts += Counter(it.combinations(person, 2))
for combo, count in casts.most_common():  
    pares = pares.append({'pare':combo,'times':count},ignore_index=True)
pares[pares.times == pares.times.max()]

                               pare  times
0  (Daniel Radcliffe, Rupert Grint)    8.0
1   (Daniel Radcliffe, Emma Watson)    8.0

# Submission

In [747]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '3. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111) +',
 '3': '3. Winnie the Pooh (tt1449283) +',
 '4': '2. 110 +',
 '5': '1. 107 +',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '10. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '3. Drama',
 '13': '5. Peter Jackson',
 '14': '5. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker (tt0267626)',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '4. Сентябрь',
 '22': '2. 450',
 '23': '5. Peter Jackson',
 '24': '5. Four By Two Productions',
 '26': '1. Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '5. Daniel Radcliffe & Rupert Grint'}

In [748]:
# и убедиться что ни чего не пропустил)
len(answers)

26